# Algorand TestNet Node Server (Algod)
NEXT_PUBLIC_ALGOD_SERVER=https://testnet-api.algonode.cloud
NEXT_PUBLIC_ALGOD_PORT=443
NEXT_PUBLIC_ALGOD_TOKEN=

# Algorand Network ID
NEXT_PUBLIC_ALGORAND_NETWORK=testnet

# Algorand TestNet USDC ASA ID (Asset Index: 10458941)
NEXT_PUBLIC_USDC_ASA_ID=10458941
